<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">
    <style>
        body {text-align: center;background: #faf065;}
        h1 {font-family: 'Unlock'; font-size: 40px;line-height: 55px;}
        .error{
            display:flex;
            width: 50%;
            height: 100vh;
            margin: 0 auto;
            background: url("./img/robo_404.svg") no-repeat;
        }

    </style>
    <title>Error</title>
</head>
<body>
<h1>Sorry, this page hasn't been cached yet! :(</h1>
<div class="error"></div>
</body>
</html>